{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-index text-black text-center d-flex align-items-center justify-content-center" style="min-height: 80vh;">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="fw-semibold" style="font-family: 'Poppins', sans-serif;">Welcome to Money Parse</h2>
        <p class="fs-5 text-muted" style="font-family: 'Poppins', sans-serif;">Master Your Money with Ease</p>
      </div>
    </div>
  </div>
</header>
{% endblock content %}
