.navbar a.nav-link {
  color: #FFFEF6 !important;
}
.bg-dark {
  background-color: #2E2E2E !important;
}

.ms-footer {
  background-color: #202020;
}
.ms-footer p {
  color: #7F7F7F;
  font-size: 13px;
}
.ms-footer a:hover {
  color: #6ab43e;
  text-decoration: none;
}
.ms-footer-bottom span{
  font-size: 13px;
  line-height: 38px;
}
.ms-footer-bottom a {
  color: #6ab43e;
  text-decoration: none;
}
.ms-footer-bottom a:hover {
  color: #fff;
}
body {
  font-family: 'Poppins', sans-serif;
}

/*Chatbot styles*/
#chatbox {
  max-width: 600px;
  margin: 40px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

#messages {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fafafa;
  border-radius: 8px;
}

.msg {
  margin-bottom: 15px;
}

.user {
  font-weight: bold;
  color: #1a73e8;
}

.bot {
  color: #228B22;
}

.bot-response {
  color: #228B22;
  margin-top: 5px;
}

#user-input {
  width: 75%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

#chatbox button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

#chatbox button:hover {
  background-color: #155ab6;
}
