{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-body">
          <h2>Set Up Security</h2>
          <hr />
          <form method="POST">
            {% csrf_token %}
            <p>
              <label>Security Question 1: What city were you born in?</label><br>
              <input type="text" id="securityAnswer1" name="securityAnswer1" required
                class="form-control">
            </p>

            <p>
              <label>Security Question 2: What is your mother's maiden name?</label><br>
              <input type="text" id="securityAnswer2" name="securityAnswer2" required
                class="form-control">
            </p>

            <button type="submit" class="btn bg-success text-white">Enter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}